---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { pageTitle, frontmatter } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />

    <h1>{pageTitle}</h1>
    <h2>{frontmatter?.name}</h2>
    <slot />

    <Footer />

    <script define:vars={{frontmatter}}>
      // import "../scripts/menu.js";
      // @ts-ignore
      if (frontmatter?.youtube) {
        window.onYouTubeIframeAPIReady = function () {
          window.iframeApiReady = true;
        };

        let tag = document.createElement("script");
        tag.src = "https://www.youtube.com/iframe_api";
        tag.id = "yt-iframe-api";
        document.body.appendChild(tag);
      }
    </script>
  </body>
</html>
